body{
    max-width: 1080px;
    background-color: white;
    margin: 0 auto;
}
nav ul{
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: black;
    background-color: lightgreen;
    padding: 10px 30px;
    border: 2px solid black;
    border-radius: 5px;
}
nav li a:hover{
    background-color: tomato;
    color: white;
    cursor: pointer;
}

.hero{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: lightgreen;
    border-radius: 10px;
}

.hero-container{
    font-size: 1.5em;
    align-items: center;
}
.hero-container p{
    margin-bottom: 80px;
}
.hero-container button{
    background-color: lightgreen;
    padding: 10px 30px;
    border: 2px solid black;
    border-radius: 5px;
}
.hero-container button:hover{
    background-color: tomato;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}
.hero img{
    width: 100%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card{
    max-width: 200px;
    /* border: 5px solid tomato; */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 10px 10px 10px 10px rgba(168, 165, 165, 0.304);
}
.card:hover{
    background-color: tomato;
}

.card img{
    width: 100%;
    border-radius: 5px;
}
.card-section h2{
    text-align: center;
}
.card-section p{
    text-align: justify;
}
.card button{
    background-color: lightgreen;
    padding: 10px 30px;
    border: 2px solid black;
    border-radius: 5px;
}

.card button:hover{
    background-color: tomato;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}
/* table */
.table-container table{
    border-collapse: collapse;
    margin-bottom: 50px;
}
td, th{
    border: 1px solid black;
    padding: 10px 20px;
}